/* 
    Created on : Oct 1, 2022, 4:02:58 PM
    Author     : alt
*/

* {
    font-size: 20px;
}

body {
    display: flex;
    background-color: #ccccff;

}

main {
    display: flex;
    background-color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;


}

table {
    display:flex;
    border: 2px solid black;
    width: 800px;
    flex-direction: column;
    justify-content: center;
}

th {
    border-top: 2px solid black;
}

.upperRow {
    background-color: orchid;
}

#button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}